.product_card_ctn {
  width: 228px;
  height: 300px;
  flex-shrink: 0;
  padding-right: 15px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-right: 50px;
}

.product_card {
  width: 243px;
  height: 300px;
  display: flex;
  flex-direction: column;

}
.product_card > * {
  flex: 1;
  flex-shrink: 0;
}

.product_card_header {
  width: 228px;
  height: 120px;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;
}

.product_img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  cursor: pointer;
}

.product_action_button {
  position: absolute;
  background: rgba(0,0,0,0.5);
  border: none;
  border-radius: 50%;
  top: 0px;
  right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  width:50px;
  height:50px;
  margin:10px;
  color:#ffdeeb;
  z-index: 10;
}

.product_action_button:hover{
  cursor: pointer;
}

.product_card_body {
  flex: 0 0 80px;
  /* flex-basis: 100px;
  flex-grow: 0; */
  background-color: #fff;
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
