* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.product_card_ctn {
  width: 256px;
  height: 250px;
  flex-shrink: 0;
  padding-right: 15px;
}

.product_card {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  /* display: flex;
  flex-direction: column; */
}

.product_card:hover, .product_card:active {
  box-shadow: 6px, 6px, 12px, rgba(0, 0, 0, 0.5);
}

.product_card_header {
  /* FIXME: */
  position: relative;
  flex:1;
  color: black;
}

.product_img {
  /* FIXME: */
  color: black;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.product_action_button {
  /* FIXME: */
  font-size: 36px;
  color: red;
  position: absolute;
  top: -4px;
  right: 6px;
}

.product_card_body {
  flex: 1;
}