/*************** Product Card ***************/
.product_card_ctn {
  width: 228px;
  height: 300px;
  flex-shrink: 0;
  padding-right: 15px;
  border: 1px solid #ccc;;
  border-radius: 0.5rem;
  margin-right: 50px;
  letter-spacing: 0.5px;
}

.product_card {
  width: 243px;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}
.product_card > * {
  flex: 1;
  flex-shrink: 0;
}

/*************** Product Card Header ***************/

.product_card_header {
  width: 228px;
  height: 120px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  flex: 1;
  position: relative;
}

.product_card_header, .product_action_button {
  display: flex;
  justify-content: center;
  align-items: center;
}


.product_action_button {
  position: absolute;
  background: rgba(0,0,0,0.5);
  border: none;
  border-radius: 50%;
  top: 6px;
  right: -6px;
  font-size: 36px;
  width:50px;
  height:50px;
  margin:10px;
  color:#ffdeeb;
  z-index: 10;
}

.product_action_button:hover{
  cursor: pointer;
}

/*************** Product Card Body (Details) ***************/
.product_card_body {
  flex: 0 0 80px;
  color: #fff;
  background-color: rgba(0,0,0,0.7);
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.category {
  font-size: 0.512rem;
  font-weight: 700;
  color: #fff;
}
.name {
  font-size: 0.8rem;
  font-weight: 700;
  padding: 10px 0px;
}
.price {
  font-size:0.64rem;
  padding-bottom: 10px;
  font-weight: 400;
}
.slogan {
  font-style: italic;
  font-size: 0.64rem;
  padding: 4px;
}

/*************** IRON-MAN!!!! ***************/
.ironMan {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.ironContainer {
  display: inline-flex;
  padding: 0.1rem;
  filter: invert(11%) sepia(90%) saturate(6974%) hue-rotate(23deg) brightness(88%) contrast(129%);
  border-radius: 10px;
}

.ironMan2 {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  filter: invert(11%) sepia(90%) saturate(6974%) hue-rotate(23deg) brightness(88%) contrast(129%);
}

.ironMan2 :hover{
  cursor: pointer;
}

/*************** Error and Loading ***************/
.no_product {
  font-weight: 500;
  width: 228px;
  height: 300px;
  flex-shrink: 0;
  padding-right: 15px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-right: 50px;
}
.noImage {
  display: inline-block;
  color: white;
  padding: 8px;
  background-color: rgba(214, 51, 108, 0.6);
}

.no_product, .noImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*************** Media Query ***************/

@media screen and (max-width: 480px) {
  .product_card_ctn {

  }

  .product_card {

  }

}