.size {
  width: 200px;
  height: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  border: 1px solid black;
  background: none;
}

.quantity {
  width: 100px;
  height: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  border: 1px solid black;
  background: none;
}

.addToBag {
  width: 250px;
  height: 45px;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-right: 10px;
  border: 1px solid black;
  background: none;
}

.star {
  width: 50px;
  height: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  border: 1px solid black;
  background: none;
}

.twitter {
  width: 20px;
  padding-right: 50px;
}

.facebook {
  width: 20px;
  padding-right: 50px;
}

.pinterest {
  width: 20px;
  padding-right: 50px;
}

.share {
  padding-left: 60px;
  padding-top:5px;
  position: absolute;
}

.addedToCart {
  background-color: #ffdeeb;
  width: 200px;
  padding-left: 10px;
}

.pleaseSelectSize {
  background-color: #e4e4e4;
  width: 200px;
  padding-left: 20px;
}