.productinfo {
  border: 2px solid black;
  position: relative;
  margin-left: 100px
}

.imagegallery {
  position: relative
}

.productdetails {
  /* border: 2px solid  black; */
  position: relative;
  /* bottom: 0 */
}

.overviewHeaders {
  display: flex
}

body {
  display: inline-block
}
