.overview {
  margin-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.overviewHeaders {
  display: flex;
  padding-left: 50px;
}

.productinfo {
  position: relative;
  margin-left: 775px;
  height: 450px;
  width: 400px;
  padding-top: 20px;
}

.styleList {
  padding-left: 0px;
}

.imagegallery {
  /* border: solid black; */
  position: absolute;
  height: 450px;
  width: 700px;
  z-index: 10;
}


.productdetails {
  padding-top: 10px;
  padding-left: 230px;
  position: relative;
}

body {
  display: inline-block
}
