.header {
  display: flex;
  background-color: #ffdeeb;
  width: 100vw;
}

.brandLogo {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 8px;
  margin-left: 12px;
}

.logo {
  width: 100px;
  height: 100px;
}

.name {
  /* TODO: increase to 150-200px */
  width: 100px;
  height: 100px;
}

.search {
  margin-left: 950px;
  margin-top: 25px;
  opacity: 0.5;
  height: 20px;
  float: right;
}

.announcement {
  padding-left: 250px;
  background-color: #e4e4e4;
  color: #e97298;
}
