.info {
  display: flex;
  width: 630px;
  margin-left: 2%;
  border-bottom: 3.5px solid white;
  padding-bottom: 1%;
}

.body {
  display: flex;
  margin-left: 2%;
}

.details {
  border-left: thick double white;
  padding-left: 1%;
  margin-left: 1%;
}

.yes {
  background-color: transparent;
  border-color: transparent;
}