.info {
  display: flex;
  width: 630px;
  margin-left: 2%;
  border-bottom: 3.5px solid white;
  padding-bottom: 1%;
}

.body {
  display: flex;
  margin-left: 2%;
}

.photo {
  margin-left: 2%;
  margin-bottom: 1%;
  width: 150px;
  height: 100px;
  border: solid black;
}

.details {
  border-left: thick double white;
  display:flex;
  padding-left: 2%;
  margin-left: 1%;
}

.yes {
  line-height: 2px;
  background-color: transparent;
  border-color: transparent;
  font-size: medium;
}