.info {
  display: flex;
  margin-left: 2%;
  border-bottom: 3px solid black;
  padding-bottom: 1%;
  font-weight: normal;
  font-size: small;
}

.body {
  display: flex;
  margin-left: 2%;
  font-weight: normal;
}

.photo {
  margin-left: 2%;
  margin-bottom: 1%;
  width: 10rem;
  height: 6rem;
  border: solid black;
}

.details {
  border-left: thick double black;
  display: flex;
  padding-left: 2%;
  margin-left: 1%;
}

.yes {
  line-height: 2px;
  background-color: transparent;
  border-color: transparent;
  font-size: small;
}