.reviewList_border {
  /* border: 1px solid #495057; */
  margin-top: 10px;
  padding: 0, 5px;
}

.reviewList {
  max-height: 800px;
  max-width: 775px;
  overflow-y: auto;
}

.reviewList_btn {
  margin-right: 3%;
}