.actualPic {
  width: 100%;
  height: 100%;
}

.actualPicInside {
  width: 100%;
  height: 100%;
}

.miniCarousel {
  width: 50px;
}

.miniCarouselPic {
  width: 50px;
}

.picDivIncludingArrows {
  display: flex;
  width: 100%;
  height: 100%;
}

.leftArrow, .rightArrow {
  padding-top: 225px;
}