.actualPic {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.actualPicInside {
  /* border: 2px solid green; */
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.miniCarousel {
  padding-top: 50px;
  position: absolute;
  left: 40px;
  width: 50px;
}

.miniCarouselPic {
  width: 60px;
  height: 60px;
  margin-top: 10px;
  border: 1.5px solid #e97298;
  border-radius: 8px;
}

.currentPhotoMarker {
  width: 63px;
  height: 4px;
  background-color: #e97298;
  margin-top: 0px;
  border-radius: 15px;
}

.picDivIncludingArrows {
  border: 3px solid black;
  /* position: relative; */
  /* display: flex; */
  width: 700px;
  height: 100%;
}

.expanded {
  display: flex;
  position: relative;
  width: 1001px;
  height: 100%;
  left: 100px;
}

.normal {
  display: flex;
  position: relative;
  left: 100px;
  width: 650px;
  height: 100%;
}

.leftArrow {
  padding-top: 225px;
}

.rightArrow {
  padding-top: 225px;
}

.expandPic {
  width: 10px;
  box-shadow: 2px;
}

.expandButton {
  right: 30px;
  top: 10px;
  position: absolute;
  background-color: #ffdeeb;
  border: 1px solid #e97298;
  opacity: 60%;
  border-radius: 25%;
  height: 20px;
}

.upArrow, .downArrow {
  color: #e97298;
  position: absolute;
  padding-left: 22px;
}

.upArrow {
  top: 43px;
}