.listContainer {
  /* display: flex; */
  width: 1280px;
  margin: 50px auto;
  min-height:200px;
  overflow: hidden;
}

.track {
  display: flex;
}

.btn {
  width: 60px;
  height: 60px;
  border-radius:50%;
  border: 1px solid #aaa;
}

.prev {

}