.listContainer {
  position: relative;
  width: 1130px;
  margin: 50px auto;
  min-height:200px;
  border-radius: 12px;;
}

.trackContainer {
  overflow: hidden;
}

.track {
  display: flex;
}

.btn {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  border-radius:50%;
  border: 1px solid #000;
  background-color: #ffdeeb;
  cursor: pointer;
}

.prev {
  left: -30px;
  color: #000
}

.next {
  right: -30px;
  color: #000
}