.form {
  border: solid black;
  width: 650px;
  height: 50px;
}

.input {
  position: relative;
  background-color: transparent;
  border-color: transparent;
  outline: none;
  width: 580px;
  bottom: 16px;
  font-size: large;
  padding-left: 10px;
}

.feet {
  background-color: transparent;
  border-color: transparent;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}