.form {
  border: solid black;
  width: 650px;
  height: 50px;
}

.input {
  background-color: transparent;
  border-color: transparent;
  outline: none;
  width: 580px;
  height: 45px;
  font-size: large;
  padding-left: 10px;
}

.button {
  background-color: transparent;
  border-color: transparent;
}