.form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  border: solid black;
  height: 50px;
}

.input {
  background-color: transparent;
  border-color: transparent;
  outline: none;
  font-size: large;
  padding-left: 10px;
}

.feet {
  background-color: transparent;
  border-color: transparent;
  width: 3rem;
  height: 3rem;
  border-radius: 30%;
  justify-self: end;
}