.feature_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* text-align: center; */
  align-items: center;
  justify-items: center;
}

.current, .related_feature {
  font-size: 0.8rem;
  font-weight: 400;
  padding: 8px;
}
.feature {
  font-size: 1rem;
  font-weight: 500;
  padding: 8px;
}