.add_review_box {
  /* background-color: bisque; */
  /* border: 1px black; */
  margin: 2% 10%;
  /* display: flex; */
  flex-direction: row;
  align-content: center;
}

.flex {
  display: flex;
}

.cursor_pointer {
  cursor: pointer;
}

/* Add a Review Inputs
============================= */
.required::after {
content: "*";
color: red;
display: flex;
justify-content:flex-end;
/* flex-direction: row; */
}

.input_rating {
  margin: 1.5rem;
}

.input_field {
  width: fit-content;
  display: flex;
}


/* Star (Duck) Rating
============================= */

.star_rating_container {
  display: flex;
  justify-content: flex-start;
  /* background-color: #ffdeeb; */
  /* border-radius: 50%; */
  /* background: #ffdeeb; */
  /* max-width: fit-content; */

}

.ratingDesc {
  margin-left: 5%;
  /* display: flex;
  align-items:flex-end; */

  }

.star_container {
  position: relative;
  display: inline;
  width: 1.7em;

}

.emptyStar {
  color: gray;
  position: absolute;
  overflow: hidden;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50px;
}

.filledStar {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50px;
  position: absolute;
  overflow: hidden;
  z-index: 10;
}

/* Characteristic table
============================= */

.ct_tableHead{
  display: flex;
  justify-content: space-around;
}

.ct_tableRows {
  font-size: x-small;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* margin: 10% 2%; */
}

.ct_columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  margin: 0 5%;
}