.product_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border:1px solid black;
  width: 250px;
  /* margin: 0px auto; */
  cursor: pointer;
}

.product_card:hover, .product_card:active {
  box-shadow: 6px, 6px, 12px, rgba(0, 0, 0, 0.5);
}

.product_card_header {
  /* FIXME: */
  flex:1;
  color: black;
}

.product_img {
  /* FIXME: */
  color: black;
}

.product_star {
  /* FIXME: */
  color: black;
}
.product_card_body {
  flex:1;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}