
.pb_border{
  border: 1px solid #495057;
  width: 50%;
  margin: 10px;
  padding: 5px;
}
.scale_bar {
  position: relative;
  height: 20px;
  width: 200px;
  border-radius: 50px;
  border: 1px solid #495057;
  background: #495057;
}

.characteristic_bar_arrow {
  position: absolute;
  background: transparent;
  left: 0;
  border-radius: inherit;
  /* transition: width .2s ease-in; */
  /* cursor: n-resize; */
}

.characteristic_bar {
  height: 8px;
  width: 20px;
  weight: 70px;
  margin: 2px;
  background-color: rgb(210, 210, 210);
}

.characteristic_bar_spacing {
  display: flex;
}